
a {
  color: #00B7FF;
}

#main_map  {
  height: 600px;
}

.btn-rest {
  margin-right: 10px;
  margin-left: 10px;
  width: 120px;
  text-align: center;
}

.table-bici th, .table-bici td{
  text-align: center;
}

.button-create {
  margin-bottom: 10px;
}