extends ../layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='/') Inicio
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/') Principal
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/reservas') Reservas
  // Masthead
  header.masthead#reservas
    .container.d-flex.h-100.align-items-center
      .container.text-center
        div.container-fluid
          h1.card-title Nueva Bicicleta
          div(style="background-color: white")
            div.card-body
                form(action="/reservas/create" method="POST")
                  div.form-group
                      label(for='usuario_id') Usuario:
                      select#inputGroupSelect01.custom-select(name='usuario_id')
                        option(selected='') Choose...
                        each usuario in usuarios
                          option(value=usuario._id) #{usuario.nombre}
                  div.form-group
                      label(for='bicicleta_id') Bicicleta:
                      select#inputGroupSelect01.custom-select(name='bicicleta_id')
                        option(selected='') Choose...
                        each bicicleta in bicicletas
                          option(value=bicicleta._id) #{bicicleta.modelo}
                  div.form-group
                      label(for='Desde') Desde:
                      input.form-control#modelo(type="text" name="desde" placeholder="")
                  div.form-group
                      label(for='Hasta') Hasta:
                      input.form-control#lat(type="text" name="hasta" placeholder="")
                  br
                  br
                  input.btn.btn-primary(type="submit" value="OK")
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Your Website 2020
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/map.js')

