extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br
    div.container-fluid.card(style='width: 50%')
        div.row

        h1.card-title Nueva Bicicleta
        div
            div.card-body
                form(action="/bicicletas/create" method="POST")
                    div.form-group
                        label(for='id') ID:
                        input.form-control#id(type="text" name="id")
                    div.form-group
                        label(for='color') Color:
                        input.form-control#color(type="text" name="color" placeholder="")
                    div.form-group
                        label(for='modelo') Modelo:
                        input.form-control#modelo(type="text" name="modelo" placeholder="")
                    div.form-group
                        label(for='lat') Latitud:
                        input.form-control#lat(type="text" name="lat" placeholder="")
                    div.form-group
                        label(for='lng') Longitud:
                        input.form-control#lng(type="text" name="lng" placeholder="")
                    br
                    br
                    input.btn.btn-primary(type="submit" value="OK")
                    