extends ../layout

block content

  a(href='/') Volver

  section(style)
    a(href="bicicletas/create") Nueva Bicicleta

    div.container-fluid
      table.table.table-bici
          thead.thead-dark
              tr
                  th(scope='col') #
                  th(scope='col') Color
                  th(scope='col') Modelo
                  th(scope='col') Ubicación
                  th(scope='col') Acciones
                  th(scope='col')
          tbody
              each bici in bicis
                tr
                td(scope='row') 
                  = bici.id
                td= bici.color
                td= bici.modelo
                td= bici.ubicacion
                td
                  div.row
                    div.col.pl-0.pr-0
                      a(href="bicicletas/"+bici.id+"/update" class='btn' style='padding: 5px;')
                        i.fas.fa-edit.text-primary
                    div.col.pl-0.pr-0
                      form.inline(action='bicicletas/'+bici.id+'/delete' method="post")
                          button.link-button(type='submit' name='submit_param' value='submit_value' class='btn' style='padding: 5px;')
                            i.fas.fa-trash-alt.text-danger
                  

                