extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br
    div.container-fluid.card(style='width: 50%')
        div.row

        h1.card-title Actualizar Bicicleta
        div
            div.card-body
                form(action=`/bicicletas/${bici.id}/update` method="POST")
                    div.form-group
                        label(for='color') Color:
                        input.form-control#color(type="text" name="color" placeholder="" value=bici.color)
                    div.form-group
                        label(for='modelo') Modelo:
                        input.form-control#modelo(type="text" name="modelo" placeholder="" value=bici.modelo)
                    div.form-group
                        label(for='lat') Latitud:
                        input.form-control#lat(type="text" name="lat" placeholder="" value=bici.ubicacion[0])
                    div.form-group
                        label(for='lng') Longitud:
                        input.form-control#lng(type="text" name="lng" placeholder="" value=bici.ubicacion[1])
                    br
                    input.btn.btn-primary(type="submit" value="OK")
                    